body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E355B;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: bisque;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.containerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.logoprado {
  width: 16rem;
  
}

.containerProdutos {
  display: flex;
  flex-direction: column;
}

.containerProduto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #704888;
  /* border: bisque .2rem solid; */
  border-radius: .475rem;
  width: 20rem;
  margin: 1rem;
  
}

.containerProdutos:active {
  border: bisque;
}

.containerLogo.selected {
  transform: -.6rem;
}

.logoProdutos {
  /* border: #18b928 .1rem solid; */
  width: 19rem;
  margin: .4rem;
}

.textoProduto {
  /* border: #18b928 .1rem solid; */
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  margin: .6rem;
  margin-bottom: 1rem;
  padding: 0 .425rem;
}

.btnProduto {
  background-color: #18b928;
  margin-bottom: .625rem;
  padding: 1rem 4.25rem;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: .225rem;
  cursor: pointer;
  text-decoration: none;
}

.btnProduto:hover {
  background-color: #19ff30;
  color: #18b928;
  transition: .8s;
}



@media screen and (min-width: 600px) {
  .containerProdutos {
    flex-direction: row;
  }
}